.ui.button {
    color: black;
    margin-left: 0.7em;
    margin-bottom: 0.3em;
    background-color: #FCB83B;
    width: fit-content;
}

h1, h2, h3 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

h4, h5, p, span, a {
    font-family: 'Lato', sans-serif;
    font-size: medium;
}

.logo {
    width: 34%;
    height: 10%;
    align-self: flex-start;
}

.ui.icon.button {
    padding: 0.8em;
    padding-left: 0.3em;
}

.btn {
    margin-top: 1.5em;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
}

.addBtnContainer {
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sectionHeader {
    align-self: center;
    margin-bottom: 2em;
    margin-top: 0.6em;
}

.friendCard {
    background-color: #F2CEA7;
    margin: 0.3em;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.myCard {
    background-color: #E4E8D0;
    margin: 0.3em;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.msgHeader {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: inherit;
}

.formField {
    margin-bottom: 0.8em;
    margin-top: 0.6em;
    margin-left: 0.8em;
}

.msgBody {
    margin-bottom: 0.8em;
    margin-top: 0.6em;
}

.recipeCard>p, h4 {
    margin-left: 1em;
    line-height: 1.8em;
}

.loginForm {
    margin-top: 2em
}

.explore-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    overflow-y: scroll;
    width: 739px;
    height: 876px;
}

.picture-content {
    margin-bottom: 2em;
    margin-top: 1em;
    width: 50%;
}

.italyMap {
    width: 100%;
    height: 100%;
}

.regionCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: #E5E9D0;
    margin: 0.5em;
    width: 40%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.regionCard>p {
    margin-left: 1em;
    line-height: 1.8em;
    margin-right: 1em;
}

.recipeCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: #E5E9D0;
    margin: 0.6em;
}

.recipeCard .ui.button {
    margin-top: 1em;
    margin-bottom: 1em;
}

.MyRecipeCard p, h3, h2 {
    margin-left: 0.5em;
    line-height: 1.8em;
}

.cookbook-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0.6em;
}

.MyRecipeCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: #E5E9D0;
    margin: 0.5em;
    order: 1;
}

picture>img {
    width: 70%;
    margin-left: 1em;
}

.buttonWrap {
    display: flex;
    flex-direction: column;
}

.btn-danger {
    align-self: flex-end;
    margin-right: 2em;
    margin-bottom: 1em;
}

.ui.rating {
    margin-left: 0.5em;
}

.form-group {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.main {
    align-self: center;
    margin-top: 1em;
}

.edit-form {
    margin: 1.4em;
}

.myCard>p {
    margin-left: 1.4em;
}

.cardButtonRow>.ui.button {
    margin-left: 1.4em;
}

span:hover {
    color: #FCB83B
}

.nav-tabs .nav-link {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-item>.special {
    margin-top: 0.9em;
    font-size: x-large;
}

.nav-item a {
    color: #BEBEBE;
}

.nav-item a:hover {
    color: #D3363B;
}

.body-container {
    display: flex;
    flex-direction: row;
}

.text-muted {
    position: sticky;
    background-color: #FCB83B;
    margin-top: 0.3em;
    text-align: center;
}

.top {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.body-myRecipes {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: auto;
    height: 750px;
}
.body-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: auto;
    height: 750px;
}
